/*
 * Theme     : Starting markup template;
 * Developer : Yurii Krevnyi;
 * Company   : Teil;
 * Url       : https://bitbucket.org/ykrevnyi/markup.git;
 */

@media (max-width: 767px) {

/****** MENU ******/
/* common */
#dl-menu {
	max-width: none;
}

#dl-menu button.dl-trigger{
	width: auto;
	background: #1580b5 !important;
	/*background: url('../image/menu-bg.png');*/
	box-shadow: 0px 0px 10px 1px rgba(82, 75, 243, 0.2) inset;
	opacity: 0.7;
}

#dl-menu button.dl-trigger:hover{
	opacity: 1;
}

.menu h2 {}
.menu ul {}
.menu li {}
#dl-menu a {
	float: none;
}
.menu a:hover {}
.menu img {}
/* 1 level */
.menu > ul.dl-animate-out-1 {}
#dl-menu > ul {
	background: #1580b5 !important;
	/*background: url('../image/menu-bg.png');*/
	/*box-shadow: 0px 0px 50px 1px #000 inset;*/
}

#dl-menu > ul > li {
	color: #fff;
}

#dl-menu > ul > li:hover {
	background: #2580b5;
}

#dl-menu > ul > li.heading {
	/*text-shadow: 2px 1px 5px #000;*/
	font-weight: 700;
}
#dl-menu ul li.heading span {
	display: block;
	position: relative;
	font-size: 16px;
	line-height: 20px;
	font-weight: 300;
	color: #fff;
	outline: none;
	padding: 15px 20px;

}

#dl-menu ul li.heading:hover > span {
	background: rgba(255,248,213,0.1);
	text-decoration: underline;
	cursor: pointer;
}

#dl-menu .banner a > .menu-img-r + span {
	padding: 0;
}

#dl-menu > ul > li.link {}
#dl-menu > ul > li.banner {}
#dl-menu > ul > li.banner > a {}
#dl-menu > ul > li.banner > a > span {}
#dl-menu > ul > li.active {}
.menu > ul > li.active > a {}
.menu > ul > li.active > a > span {}
.menu > ul > li.active > div {}
.menu > ul > li:hover {}
.menu > ul > li:hover > div {}
.menu > ul > li:hover > a {}
.menu > ul > li > a {}
#dl-menu > ul > li.icon > a > img {
	width: 16px; 
	height: 16px; 
	margin: 2px 3px 0px 3px;
}
.menu > ul > li > div {}
/* 2 level */
.menu > ul > li > div > ul {}
.menu > ul > li > div > ul > li {}
.menu > ul > li > div > ul > li.heading > span {}
.menu > ul > li > div > ul > li.heading {}
.menu > ul > li > div > ul > li.link {}
.menu > ul > li > div > ul > li.banner {}
.menu > ul > li > div > ul > li.banner:hover {}
.menu > ul > li > div > ul > li.banner.icon > a {}
.menu > ul > li > div > ul > li.banner > a {}
#dl-menu > ul > li > ul > li.banner > a > img {  
	margin: 2px 3px 0px 3px;
	height: 16px;
	width: 16px;
}

#dl-menu .banner .menu-img-r {
	height: 30px;
	width: 30px;
	float: left;
	margin: -5px 10px 0 0;
}
.menu > ul > li > div > ul > li.banner > a > span {}
.menu > ul > li > div > ul > li.banner.icon > a > span {}
.menu > ul > li > div > ul > li.active {}
.menu > ul > li > div > ul > li.active > a {}
.menu > ul > li > div > ul > li.active > div {}
.menu > ul > li > div > ul > li:hover {}
.menu > ul > li > div > ul > li:hover > div {}
.menu > ul > li > div > ul > li:hover > a {}
.menu > ul > li > div > ul > li > a {}
.menu > ul > li > div > ul > li.banner.icon > a > img {}
.menu > ul > li > div > ul > li > div {}
.menu > ul > li > div > ul > li.banner.icon > a > span {}
/* 3 level */
.menu > ul > li > div > ul > li > div > ul {}
.menu > ul > li > div > ul > li > div > ul > li {}
.menu > ul > li > div > ul > li > div > ul > li.heading {}
.menu > ul > li > div > ul > li > div > ul > li.heading:hover {}
.menu > ul > li > div > ul > li > div > ul > li.heading > span {}
.menu > ul > li > div > ul > li > div > ul > li.link {}
.menu > ul > li > div > ul > li > div > ul > li.banner {}
.menu > ul > li > div > ul > li > div > ul > li.banner:hover {}
.menu > ul > li > div > ul > li > div > ul > li.banner:hover > a {}
.menu > ul > li > div > ul > li > div > ul > li.banner > a {}
.menu > ul > li > div > ul > li > div > ul > li.banner > a > img {}
.menu > ul > li > div > ul > li > div > ul > li.banner a > span {}
.menu > ul > li > div > ul > li > div > ul > li.banner.icon a > span {}
.menu > ul > li > div > ul > li > div > ul > li.active {}
.menu > ul > li > div > ul > li > div > ul > li.active > a {}
.menu > ul > li > div > ul > li > div > ul > li.active > div {}
.menu > ul > li > div > ul > li > div > ul > li:hover {}
.menu > ul > li > div > ul > li > div > ul > li:hover > div {}
.menu > ul > li > div > ul > li > div > ul > li:hover > a {}
.menu > ul > li > div > ul > li > div > ul > li > a {}
.menu > ul > li > div > ul > li > div > ul > li.banner.icon > a > img {}
.menu > ul > li > div > ul > li > div > ul > li > div {}
/* 4 level */
.menu > ul > li > div > ul > li > div > ul > li > div > ul {}
.menu > ul > li > div > ul > li > div > ul > li > div > ul > li {}
.menu > ul > li > div > ul > li > div > ul > li > div > ul > li.heading {}
.menu > ul > li > div > ul > li > div > ul > li > div > ul > li.heading > span {}
.menu > ul > li > div > ul > li > div > ul > li > div > ul > li.link {}
.menu > ul > li > div > ul > li > div > ul > li > div > ul > li.banner {}
.menu > ul > li > div > ul > li > div > ul > li > div > ul > li.banner:hover {}
.menu > ul > li > div > ul > li > div > ul > li > div > ul > li.banner:hover > a {}
.menu > ul > li > div > ul > li > div > ul > li > div > ul > li.banner > a {}
.menu > ul > li > div > ul > li > div > ul > li > div > ul > li.banner > a > img {}
.menu > ul > li > div > ul > li > div > ul > li > div > ul > li.banner > a > span {}
.menu > ul > li > div > ul > li > div > ul > li > div > ul > li.banner.icon {}
.menu > ul > li > div > ul > li > div > ul > li > div > ul > li.banner.icon > a {}
.menu > ul > li > div > ul > li > div > ul > li > div > ul > li.banner.icon > a > img {}
.menu > ul > li > div > ul > li > div > ul > li > div > ul > li.banner.icon > a > span {}
.menu > ul > li > div > ul > li > div > ul > li > div > ul > li.active {}
.menu > ul > li > div > ul > li > div > ul > li > div > ul > li.active > a {}
.menu > ul > li > div > ul > li > div > ul > li > div > ul > li.active > div {}
.menu > ul > li > div > ul > li > div > ul > li > div > ul > li:hover {}
.menu > ul > li > div > ul > li > div > ul > li > div > ul > li:hover > div {}
.menu > ul > li > div > ul > li > div > ul > li > div > ul > li:hover > a {}
.menu > ul > li > div > ul > li > div > ul > li > div > ul > li > a {}
.menu > ul > li > div > ul > li > div > ul > li > div > ul > li > a > img {}
.menu > ul > li > div > ul > li > div > ul > li > div > ul > li > div {}


}